doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    title Awesome Swiper Demo
    base(href="./")

    //- webpack style
    each _style,index in htmlWebpackPlugin.files.css
      if index === 0
        link(href=_style, rel="stylesheet")

    style.
      * {
        margin: 0;
        padding: 0;
      }

      html, body {
        height: 100%;
      }

      body {
        margin: 0 auto;
        text-align: center;
      }

      #demo1 {
        width: 600px;
        height: 300px;

        background-color: aliceblue;
      }

body
  h1 Awesome Swiper Demo

  #demo1
    .swiper-wrapper
      .swiper-slide
        .swiper-explain Slide 1: test test test
      .swiper-slide
        .swiper-explain Slide 2: test test test test test test test test test test test test test test test test test test test test
      .swiper-slide
        .swiper-explain Slide 3: test test test test test test test test test test test test test test test test test test test test test test test test test test
      .swiper-slide
        .swiper-explain Slide 4: test test test test test test test test test test test test test test test test test test test test test test test test test test
      .swiper-slide
        .swiper-explain Slide 5: test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test

  each _js in htmlWebpackPlugin.files.js
    script(src=_js)

  script.
    let swiper = new AwesomeSwiper('#demo1', {
      autoplay: null,
      navigation: {
        type: 'black'
      }
    });

    console.log(swiper);

