doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    title Awesome Swiper Demo
    base(href="./")

    //- webpack style
    each _style,index in htmlWebpackPlugin.files.css
      if index === 0
        link(href=_style, rel="stylesheet")

    style.
      h1, h2 {
        text-align: center;
      }

      #demo1 {
        width: 800px;
        height: 450px;
      }

      #demo1Thumbs {
        width: 800px;
        height: 100px;
      }

  body
    h1 Awesome Swiper Demo
    hr

    each _js in htmlWebpackPlugin.files.js
      script(src=_js)
    h2 Basic

    #demo1.swiper-container
      .swiper-wrapper
        .swiper-slide
          a.swiper-img(href="javascript:;")
            img(src='p1.jpg')
          .swiper-explain Slide 1: test test test
        .swiper-slide
          a.swiper-img(href="javascript:;")
            img(src='p2.jpg')
          .swiper-explain Slide 2: test test test test test test test test test test test test test test test test test test test test
        .swiper-slide
          a.swiper-img(href="javascript:;")
            img(src='p3.jpg')
          .swiper-explain Slide 3: test test test test test test test test test test test test test test test test test test test test test test test test test test
        .swiper-slide
          a.swiper-img(href="javascript:;")
            img(src='p4.jpg')
          .swiper-explain Slide 4: test test test test test test test test test test test test test test test test test test test test test test test test test test
        .swiper-slide
          a.swiper-img(href="javascript:;")
            img(src='p5.jpg')
          .swiper-explain Slide 5: test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test


    #demo1Thumbs.swiper-container
      .swiper-wrapper
        .swiper-slide
          a.swiper-img(href="javascript:;")
            img(src='p1.jpg')
        .swiper-slide
          a.swiper-img(href="javascript:;")
            img(src='p2.jpg')
        .swiper-slide
          a.swiper-img(href="javascript:;")
            img(src='p3.jpg')
        .swiper-slide
          a.swiper-img(href="javascript:;")
            img(src='p4.jpg')
        .swiper-slide
          a.swiper-img(href="javascript:;")
            img(src='p5.jpg')

    script.
      new AwesomeSwiper()
        .init('#demo1')
        .addThumbs('#demo1Thumbs', {
          slidesPerView: 5
        });

    hr

