@import "~@cycjimmy/sass-lib";

$space: 10px;

.resetNavigationEl {
  position: static;
  margin: auto;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  background: none;
}

:global(.swiper-explain) {
  @extend %abs;
  left: 0;
  bottom: 0;
  width: calc(100% - 20px);
  padding: $space;
  box-sizing: content-box;

  background-color: rgba(black, .4);
  color: white;
  text-align: left;

  &.bottomSpace {
    padding-bottom: $space + 15px;
  }
}

:global(.swiper-full-img) {
  @extend %fullContainer;
  overflow: hidden;

  > img {
    @include fix-center(-100%);
    z-index: 1;
    display: block;
    width: 100%;

    &.basedOnHeight {
      width: auto;
      height: 100%;
    }
  }
}

:global(.swiper-pagination) {
  &.white {
    :global(.swiper-pagination-bullet) {
      background-color: #fff;
      opacity: .6;
    }

    :global(.swiper-pagination-bullet-active) {
      background-color: #fff;
      opacity: .8;
    }
  }

  &.black {
    :global(.swiper-pagination-bullet) {
      background-color: #000;
      opacity: .6;
    }

    :global(.swiper-pagination-bullet-active) {
      background-color: #000;
      opacity: .8;
    }
  }
}

.thumbsWrapper {
  :global(.swiper-slide) {
    height: 100%;
    opacity: 0.4;
    cursor: pointer;

    &:global(.active-thumb) {
      opacity: 1;
    }
  }

  &:global(.swiper-container-vertical) {
    :global(.swiper-full-img) {
      > img {
        width: auto;
        height: 100%;
      }
    }
  }
}



