@import "~@cycjimmy/sass-lib";

@import "navigation";
@import "pagination";
@import "thumb";

// Extra
$space: 10px;
:global(.swiper-explain) {
  @extend %abs;
  left: 0;
  bottom: 0;
  width: calc(100% - 20px);
  padding: $space;
  box-sizing: content-box;

  background-color: rgba(black, .4);
  color: white;
  text-align: left;

  &.bottomSpace {
    padding-bottom: $space + 15px;
  }
}

:global(.swiper-full-img) {
  @extend %fullContainer;
  overflow: hidden;

  > img {
    @include fix-center(-100%);
    z-index: 1;
    display: block;
    width: 100%;

    &.basedOnHeight {
      width: auto;
      height: 100%;
    }
  }
}

